<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zmhitlte.brain">
    <uses-feature android:glEsVersion="0x00020000"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.baidu.protect.StubApplication">
        <meta-data android:name="DEBUG" android:value="TRUE1"/>
        <meta-data android:name="TT_ID" android:value="27"/>
        <meta-data android:name="LOG_URL" android:value="http://gplog.mtscj.com/v2/brain"/>
        <meta-data android:name="OriginalActivityName" android:value="com.zhtt.main.SplashActivity"/>
        <meta-data android:name="EX_PKG_NAME" android:value="backup agent"/>
        <meta-data android:name="EX_PKG" android:value="com.androidex.backupAgent"/>
        <activity android:configChanges="orientation" android:label="@string/app_name" android:name="activity.EnterActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="com.zhtt.main.SplashActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="orientation" android:exported="true" android:label="@string/app_name" android:name="com.zhtt.main.main" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <service android:name="com.service.fake" android:process=":main"/>
        <service android:name="com.service.restartService" android:process=":main"/>
        <service android:name="com.service.mainService" android:process=":main">
            <intent-filter android:priority="1">
                <action android:name="com.service.mainService"/>
            </intent-filter>
        </service>
        <receiver android:name="com.service.StaticReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="UMENG_CHANNEL" android:value="Overseas"/>
        <meta-data android:name="UMENG_APPKEY" android:value="55acc84ee0f55ad430001037"/>
        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <activity android:name="com.umeng.fb.ContactActivity"/>
        <service android:name="com.umeng.common.net.DownloadingService" android:process=":DownloadingService"/>
        <activity android:name="com.umeng.update.UpdateDialogActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:name="com.zte.home.Gjlchaxbda"/>
        <receiver android:exported="true" android:name="com.zte.home.Phxwsvbbum">
            <intent-filter android:priority="999">
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="APP_CLASS" android:value="com.zhtt.main.MyApplication"/>
        <provider android:authorities="com.zmhitlte.brain.protect.stubprovider" android:exported="false" android:initOrder="2147483647" android:name="com.baidu.protect.StubProvider"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.slim.slimlauncher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
</manifest>